.post-title {
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}

.post-title:hover {
  opacity: 0.6;
}

.subreddit-text {
  font-weight: bold;
}

.post-url {
  color: #bbe1fa;
}

.username{
    color: #0f4c75;
}

.post-text{
    margin-top: 10px;
}

.post{
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
    margin-top: 50px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #1b262c;
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
}

.comment{    
    --post-line-color: #ccc;    
    border: 1px solid #ccc;    
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #1b262c;
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
}